* {
    padding: 0;
    margin: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

/*通用样式*/
.head{
    width: 100%;
    /*height: 100%;*/
}
.out{
    width:80%;
    margin: 0 auto;
}
.big{
    width: 1280px;
    margin: 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}


/*导航样式*/
.nav-left{
    background: url("../images/QQ2.png") no-repeat left;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 50px;


}

.nav-left>a:first-child {
    text-decoration: none;
    color:black;
    font-weight: bolder;
    display: inline-block;
    border-bottom:  3px solid black;
    padding: 20px 25px;
}

.nav-left>a{
    text-decoration: none;
    color:black;
    padding: 20px 25px;
}
.nav-right{
    background: url("../images/QQ20.png") no-repeat left;
    background-size: 50px 50px;
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
}

.nav-right:hover{
    background: url("../images/QQ20.png") no-repeat left;
    background-size: 49px 49px;
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
}

.digest{
    border: 1px solid #C5E1C9;
    padding: 15px 20px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
    color: #C5E1C9;
    /*margin-top: 10px;*/
}